@import "recrt";

#header {
  background: #fff;
  padding: 10px 0;

  .header--general {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        padding: 0 20px;
      }

      button {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: #1D1D1D;
        width: 78px;
        height: 40px;
        border: 1px solid #E0E0E0;
        border-radius: 2px;
        cursor: pointer;
        transition: .4s;
        margin-right: 20px;
      }

      button:hover {
        transform: scale(1.1);
        background: #000;
        color: aqua;
      }
    }
  }
}

#hero {
  background: #ffffff;
  padding: 30px 0;

  .hero--general {
    .text {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      display: flex;
      align-items: center;
      color: #626262;
      mix-blend-mode: normal;
      opacity: 0.5;
      margin-bottom: 10px;
    }

    .bo {
      width: 90%;
      height: 1px;
      background: #413f3f;
      opacity: 0.3;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text-two {
      padding-top: 70px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      display: flex;
      align-items: center;
      color: #1D1D1D;
    }

    &__img {
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      div {
        margin-bottom: 20px;

        h1 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          display: flex;
          align-items: center;
          color: #1D1D1D;
          padding: 10px 0;
        }

        p {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          display: flex;
          align-items: center;
          color: #626262;
          margin-bottom: 10px;
        }
      }

    }
  }
}

#footer {
  padding: 30px 0;
  width: 100%;
  height: 552px;
  background: #262626;

  .footer--general {


    .footer--blok {
      margin-top: 40px;
      width: 95%;
      height: 1px;
      background: #FFFFFF;
      mix-blend-mode: normal;
      opacity: 0.4;
    }

    .footer--general__icon {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .nav {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        a {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          display: flex;
          align-items: flex-end;
          color: #FFFFFF;
          margin-bottom: 20px;
        }
      }

      .footer--blook__two {
        padding: 30px 0;

        h1 {
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          display: flex;
          align-items: flex-end;
          color: #FFFFFF;
          margin-bottom: 20px;

          span {
            color: #49A144;
          }
        }

        .select {
          width: 227px;
          height: 40px;
          background: #3B3B3B;
          border-radius: 2px;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          color: #FFFFFF;
          border: none;
          cursor: pointer;
          margin-bottom: 30px;
        }

        .icon {
          display: flex;
          justify-content: start;
          align-items: center;

          div {
            color: white;
            cursor: pointer;
            padding: 0 10px;
          }
        }
      }
    }

    .img {
      padding-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        padding: 0 20px;
      }
    }

    .footer-footer {
      padding-top: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
      }

      button {
        width: 80px;
        height: 80px;
        background: #59BD5A;
        border-radius: 2px;
        cursor: pointer;
        transition: .4s;
      }

      button:hover {
        transform: scale(1.1);
        background: transparent;
      }
    }

  }
}